# Количество воркеров gunicorn для запуска в пром
WORKERS_COUNT=9

# Среда запуска PROD, TEST, DEV
ENV=DEV

# Логирование
LOGGING_DEFAULT_LEVEL=DEBUG
LOGGING_DEFAULT_HANDLER=console
LOG_SQL=False

# A boolean that turns on/off debug mode.
DEBUG=True

# Параметры подключения к БД
POSTGRES_DB=web_app_db
POSTGRES_USER=web_app_user
POSTGRES_PASSWORD=123456
DB_HOST=localhost
DB_PORT=5432

# Параметры подключения к Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CHANNEL=9
REDIS_USER=
REDIS_PASSWORD=

DOCKER_REGISTRY=docker.io