python-dotenv==1.2.3
alembic==1.20.0
sqlalchemy==2.0.54
fastapi==0.141.1
fastapi-cli==0.0.32
pydantic==2.13.5
asyncpg==0.31.0
pydantic-settings==2.15.0
celery==5.6.3
redis==8.1.0
starlette==1.6.0
psycopg2-binary==2.9.13
greenlet==3.5.6
http-misc==3.1.5
sqlalchemy-celery-beat==0.9.0